/**
Customized CSS for "sany" clients
Author:  Christophe Noël
Description : forces some styles (for some uncompatibility issues)
and defines sany specific styles.
Note : some part of this CSS may be deprecated (todo)
---------------------------------
 **/

/* Input form styles */

#form b
{
font-size:11px;
}
#form div,#form input,#form option,#form ul,#form li
	{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: black;
	padding: 0px;
	margin-left: 4px;
	font-size: 10px;
}
#form select
	{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: black;
	padding: 1px;
	font-size: 10px;
}

#form b {}

#form ul,#form li {
	margin-top: 4px;
	margin-bottom: 4px;
}

#form checkbox {
	height: 11px;
}

/* Results part styles */

#sse_classic div {
	border: 0px none black;
	border-width: 0px;
}

#sse_Submit div {
	border: 0px none black;
	border-width: 0px;
	overflow: auto;
	max-height: 380px;
	height: expression(this.scrollHeight >   380 ?   "380px" :   "auto");
}

#myOptionsF div {
	border: 0px none black;
	border-width: 0px;
	overflow: auto;
	max-height: 800px;
	height: auto;
}

#contextParams div {
	border: 0px none black;
	border-width: 0px;
	overflow: auto;
	max-height: 360px;
	height: expression(this.scrollHeight >   360 ?   "360px" :   "auto");
}

.sse_spb_present {
	font-family:  Arial, Verdana,Helvetica, sans-serif;
	font-size: 10px;
}

.sse_spb_present table {
	border-style: solid;
	border-width: 1px;
	border-color: #B6CEE7;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 30px;
}

.sse_spb_present img {
	margin-right: 3px;
}

.sse_spb_present tr {
	vertical-align: top;
}

.sse_spb_present td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	border-color: #B6CEE7;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

.sse_spb .tablehead
{
background-color: #F1EEE9;
}

.sse_spb .tablehead td
{
border-bottom: 0px;
}

.sse_spb b
{
font-size:11px;
}

.sse_spb {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	padding: 5px;
	background-color: #FFFFFF;
	text-align: left;
	max-height: 400px;
	overflow: auto;
}

.sse_spb ol,.sse_spb ul,sse_spb dl {
	margin-left: 2em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.sse_spb blockquote {
	margin-left: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.sse_spb p {
	margin-bottom: 1em;
}

.sse_spb li {
	list-style-type: none;
}

.sse_spb_present li {
	list-style-type: none;
}

.sse_spb table {
	border-left: 1px solid #C4C0C9;
	border-top: 1px solid #C4C0C9;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 30px;
}
/**
.sse_spb tr:first-child {

}
*/


.sse_spb_noborder table {
	border-style: solid;
	border-width: 0px;
	border-color: black;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 30px;
}

.sse_spb tr {
	vertical-align: top;
}

.sse_spb_noborder td {
	border-color: black;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.sse_spb td {
	border-bottom: 1px solid #C4C0C9;
	border-right: 1px solid #C4C0C9;
	padding: 5px;
}

.sse_spb_dark {
	background-color: #71A0D0;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	text-align: center;
}

.sse_spb img {
	margin-right: 3px;
}

.sse_spb a {
	cursor: pointer;
}

.sse_spb_expand {
	margin-left: 20px;
	padding: 5px;
}

.sse_spb_expand2 {
	margin-left: 20px;
	padding: 5px;
}
/* end for CSS sany*/