/********** GENERAL **********/
.sse-mainClass {
	/* nothing here, used to wrap the whole content of the portlet, 
	   in order to avoid css collision with other portlet providers 
	*/
	
}

.sse-mainClass a {
	text-decoration: underline;
}

.sse-mainClass .collection-picker a {
	text-decoration: none;
}

.sse-contentwrapper {
	display: block;
	font-size: 10px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.ajax-loader {
	float: right
}

.ajax-loader span {
	height: 11px;
}

/* Fix for CSS from GIM*/
.sse-contentwrapper input,select,textarea,button,keygen,isindex,legend,a
	{
	font-size: 100%;
	font-family: inherit;
}

.sse-mainClass td {
	font-size: 10px;
}

.sse-mainClass .disabled,.sse-mainClass .disabled:focus,.sse-mainClass .disabled:hover
	{
	background-color: #CCC !important;
	cursor: progress;
}

.sse-mainClass table {
	border-collapse: separate;
}

.sse-mainClass .center {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.sse-mainClass textarea {
	resize: none;
}

.sse-mainClass .valign-top {
	vertical-align: top;
}

.sse-mainClass .rich-tabpanel-content {
	padding: 5px;
}

.sse-mainClass .sse-so-envelop {
	padding: 5px;
	display: block;
}

.sse-mainClass .sse-so-envelop2 {
	border-width: 1px;
	border-color: LightGrey;
	border-style: none;
	display: block;
}

.sse-mainClass .sse-so-envelop3 {
	border-width: 1px;
	border-color: LightGrey;
	border-style: solid;
	display: block;
}

.sse-mainClass .sse-so-blocktitle {
	font-weight: bold;
	color: #515151;
}

.sse-mainClass .loading-image {
	background-image: url("../images/loading_animation.gif");
	height: 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.sse-mainClass .tooltip {
	background-color: #FFFFFF;
	border-width: 1px;
	font-size: 10px;
	padding: 5px 10px 5px 10px;
	text-align: left;
}

/*HELP BUTTON */
.portal-help-link-container a {
	float: right;
	background: transparent no-repeat scroll 0 50%;
	background-image: url('../images/help.png');
	padding: 2px 0 2px 20px;
	margin-top: -8px;
}

/*BPELConsole BUTTON */
.portal-bpelconsole-link-container a {
	float: right;
	background: transparent no-repeat scroll 0 50%;
	background-image: url('../images/icons/cog.png');
	padding: 2px 0 2px 20px;
	margin-top: -8px;
	margin-right: 10px;
}

/********** GENERAL - Buttons **********/
.sse-mainClass .button-image,.sse-mainClass .button-image:hover,.sse-mainClass .button-image:focus
	{
	background-repeat: no-repeat;
	background-position: 5% 50%;
	padding-left: 26px;
}

.sse-mainClass .button-image-table,.sse-mainClass .button-image-table:hover,.sse-mainClass .button-image-table:focus
	{
	background-image: url("../images/icons/table.png");
}

.sse-mainClass .button-image-persist,.sse-mainClass .button-image-persist:hover,.sse-mainClass .button-image-persist:focus
	{
	background-image: url("../images/icons/disk.png");
}

.sse-mainClass .button-image-accept,.sse-mainClass .button-image-accept:hover,.sse-mainClass .button-image-accept:focus
	{
	background-image: url("../images/icons/accept.png");
}

.sse-mainClass .button-image-cancel,.sse-mainClass .button-image-cancel:hover,.sse-mainClass .button-image-cancel:focus
	{
	background-image: url("../images/icons/cancel.png");
}

.sse-mainClass .button-image-delete,.sse-mainClass .button-image-delete:hover,.sse-mainClass .button-image-delete:focus
	{
	background-image: url("../images/icons/bin_closed.png");
}

.sse-mainClass .button-image-edit,.sse-mainClass .button-image-edit:hover,.sse-mainClass .button-image-edit:focus
	{
	background-image: url("../images/icons/database_edit.png");
}

.sse-mainClass .button-image-refresh,.sse-mainClass .button-image-refresh:hover,.sse-mainClass .button-image-refresh:focus
	{
	background-image: url("../images/icons/arrow_rotate_clockwise.png");
}

.sse-mainClass .button-image-dbrefresh,.sse-mainClass .button-image-dbrefresh:hover,.sse-mainClass .button-image-dbrefresh:focus
	{
	background-image: url("../images/icons/database_refresh.png");
}

.sse-mainClass .button-image-previous,.sse-mainClass .button-image-previous:hover,.sse-mainClass .button-image-previous:focus
	{
	background-image: url("../images/icons/arrow_left.png");
}

.sse-mainClass .button-image-next,.sse-mainClass .button-image-next:hover,.sse-mainClass .button-image-next:focus
	{
	background-image: url("../images/icons/arrow_right.png");
}

.sse-mainClass .button-image-search,.sse-mainClass .button-image-search:hover,.sse-mainClass .button-image-search:focus
	{
	background-image: url("../images/icons/zoom.png");
}

.sse-mainClass .button-image-go,.sse-mainClass .button-image-go:hover,.sse-mainClass .button-image-go:focus
	{
	background-image: url("../images/icons/bullet_go.png");
}

.sse-mainClass .button-image-config,.sse-mainClass .button-image-config:hover,.sse-mainClass .button-image-config:focus
	{
	background-image: url("../images/icons/bullet_wrench.png");
}

.sse-mainClass .button-image-clear,.sse-mainClass .button-image-clear:hover,.sse-mainClass .button-image-clear:focus
	{
	background-image: url("../images/icons/cross.png");
}

.sse-mainClass .button-image-serverfetch,.sse-mainClass .button-image-serverfetch:hover,.sse-mainClass .button-image-serverfetch:focus
	{
	background-image: url("../images/icons/server_go.png");
}

.sse-mainClass .button-image-basketadd,.sse-mainClass .button-image-basketadd:hover,.sse-mainClass .button-image-basketadd:focus
	{
	background-image: url("../images/icons/cart_add.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-basketdelete,.sse-mainClass .button-image-basketdelete:hover,.sse-mainClass .button-image-basketdelete:focus
	{
	background-image: url("../images/icons/cart_delete.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-processadd,.sse-mainClass .button-image-processadd:hover,.sse-mainClass .button-image-processadd:focus
	{
	background-image: url("../images/icons/computer_add.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-process,.sse-mainClass .button-image-process:hover,.sse-mainClass .button-image-process:focus
	{
	background-image: url("../images/icons/computer.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-processdelete,.sse-mainClass .button-image-processdelete:hover,.sse-mainClass .button-image-processdelete:focus
	{
	background-image: url("../images/icons/computer_delete.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-basketvalid,.sse-mainClass .button-image-basketvalid:hover,.sse-mainClass .button-image-basketvalid:focus
	{
	background-image: url("../images/icons/cart_go.png");
	margin-right: 10px;
}

.sse-mainClass .button-image-download,.sse-mainClass .button-image-download:hover,.sse-mainClass .button-image-download:focus
	{
	background-image: url("../images/icons/script_add.png");
}

.sse-mainClass .button-image-arrowanticlock,.sse-mainClass .button-image-arrowanticlock:hover,.sse-mainClass .button-image-arrowanticlock:focus
	{
	background-image: url("../images/icons/arrow_rotate_anticlockwise.png");
}

.sse-mainClass .button-image-metadata,.sse-mainClass .button-image-metadata:hover,.sse-mainClass .button-image-metadata:focus
	{
	background-image: url("../images/icons/page_white_text.png");
}

.sse-mainClass .button-image-table,.sse-mainClass .button-image-table:hover,.sse-mainClass .button-image-table:focus
	{
	background-image: url("../images/icons/table.png");
}

.sse-mainClass .button-image-populate,.sse-mainClass .button-image-populate:hover,.sse-mainClass .button-image-populate:focus
	{
	background-image: url("../images/icons/page_white_get.png");
}

.sse-mainClass .button-image-help,.sse-mainClass .button-image-help:hover,.sse-mainClass .button-image-help:focus
	{
	background-image: url("../images/help.png");
}

.sse-mainClass .button-image-log,.sse-mainClass .button-image-log:hover,.sse-mainClass .button-image-log:focus
	{
	background-image: url("../images/icons/bug_error.png");
}

.sse-mainClass .button-image-tutorial,.sse-mainClass .button-image-tutorial:hover,.sse-mainClass .button-image-tutorial:focus
	{
	background-image: url("../images/icons/book.png");
}

.sse-mainClass .button-image-report,.sse-mainClass .button-image-report:hover,.sse-mainClass .button-image-report:focus
	{
	background-image: url("../images/icons/report.png");
}

.sse-mainClass .button-image-money,.sse-mainClass .button-image-money:hover,.sse-mainClass .button-image-money:focus
	{
	background-image: url("../images/icons/money.png");
}

.sse-mainClass .button-image-images,.sse-mainClass .button-image-images:hover,.sse-mainClass .button-image-images:focus
	{
	background-image: url("../images/icons/images.png");
}

.sse-mainClass .rich-panel-header {
	text-align: center;
}

/********** MESSAGES **********/
.sse-mainClass .rich-messages-marker img {
	padding-right: 7px;
}

.sse-mainClass .rich-messages { /*margin: 5px 0px 5px 0px;*/
	padding: 5px;
	width: 100%;
}

.sse-mainClass .messages-error {
	color: red;
}

.sse-mainClass .rich-message-label,.sse-mainClass .rich-messages-label {
	font-weight: bold;
}

.sse-mainClass .messages-detailslink {
	background: url("../images/icons/bug.png") no-repeat 0 37%;
	padding-left: 20px;
	padding-bottom: 2px;
	float: right;
	display: block;
	cursor: pointer;
	float: right;
}

.sse-mainClass .messages-details {
	margin-top: 10px;
	display: block;
}

/********** ORDERLIST **********/
.sse-mainClass .sse-orderlistlabel {
	font-weight: bold;
}

.sse-mainClass .orderlist-radiobutton td {
	padding-right: 15px;
}

.sse-mainClass .orderlist-selectedrow {
	background-color: #F5F5F5;
}

.sse-mainClass .orderlist-selectedid {
	font-weight: bold;
}

.sse-mainClass .orderlist-list .rich-table-subheadercell {
	vertical-align: top;
}

/********** HIERARCHY **********/
.sse-mainClass .sse-hierarchy fieldset {
	border: none;
}

.sse-mainClass .sse-hierarchy .rootcat {
	border-bottom: 1px solid #BFBFBF;
}

.sse-mainClass .sse-hierarchy .rich-table {
	border: none;
}

.sse-mainClass .sse-hierarchy .rich-table-cell {
	border: none;
}

.sse-mainClass .hierarchy-details-label {
	font-weight: bold;
	padding-right: 15px;
	vertical-align: middle;
}

.sse-mainClass .hierarchy-details-value {
	text-align: justify;
	vertical-align: middle;
}

.sse-mainClass .hierarchy-detailsSingle-label {
	height: 60px;
	width: 100%;
	padding-right: 15px;
	text-align: justify;
}

.sse-mainClass .hierarchy-detailsSingle-value {
	text-align: right;
}

.sse-mainClass .category-image {
	width: 60px;
	height: 60px;
}

/********** SERVICE DISCOVERY **********/
.sse-mainClass .serviceLink {
	font-size: 10px;
	font-weight: bold;
}

.sse-mainClass .discovery-label {
	font-weight: bold;
	margin-right: 5px;
}

.sse-mainClass .discovery-value {
	width: 100%;
	padding-right: 10px;
}

.sse-mainClass .service-discovery-search-list li {
	list-style: none;
}

.sse-mainClass .servicesearch-tooltip-label {
	font-weight: bold;
	padding-right: 8px;
}

/********** SERVICE TREE **********/
.sse-mainClass .treeLink {
	text-decoration: none;
}

/********** SERVICE FINDER **********/
.sse-mainClass .breadcrumb {
	font-weight: bold;
	margin-bottom: 0px;
	padding: 5px 0px 5px 0px;
	width: 100%;
}

.sse-mainClass .category-description {
	font-style: italic;
}

.sse-mainClass .service-list-item {
	padding: 15px;
	text-align: justify;
}

.sse-mainClass .service-list-activationbutton {
	padding: 15px 15px 15px 0px;
	text-align: right;
}

.sse-mainClass .service-list-table {
	width: 100%
}

.sse-mainClass .service-list-table-secondcol {
	width: 100%
}

.sse-mainClass .service-list-item .service-name {
	font-weight: bold;
	float: left;
}

.sse-mainClass service-list-even {
	background-color: #FFFFFF;
}

.sse-mainClass .service-list-odd {
	background-color: #F2E9E9;
}

/********** SEARCH INPUT **********/
.sse-mainClass .search-container {
	/* min-height to match map viewer height */
	height: 405px;
}

.sse-mainClass .search-container2 { /*queryables height*/
	overflow-y: auto;
	overflow-x: hidden;
}

.sse-mainClass .select-queryable {
	width: 100%;
	margin-top: 5px;
}

.sse-mainClass .service-activation-edit-service a {
	float: right;
	background: transparent no-repeat scroll 0 50%;
	background-image: url('../images/icons/cog.png');
	padding: 2px 0 2px 20px;
	margin-top: -1px;
	margin-right: 5px;
}

.sse-mainClass .service-activation-tuto-service a {
	float: right;
	background: transparent no-repeat scroll 0 50%;
	background-image: url('../images/help.png');
	padding: 2px 0 2px 20px;
	margin-top: -1px;
	margin-right: 5px;
}

.sse-mainClass .form-border {
	border: 1px solid #C4C0B9;
	padding: 5px;
	margin-top: 5px;
	clear: both;
}

.sse-mainClass .search-service-name { /*padding-bottom: 10px;*/
	font-weight: bold;
	font-size: 110%;
	float: left;
}

.sse-mainClass .searchInputForm-label {
	font-weight: bold;
	padding: 1px 5px 1px 1px;
	vertical-align: top;
	width: 30%;
	white-space: nowrap;
}

.sse-mainClass .searchInputForm-value {
	text-align: right;
	padding: 1px;
	width: 100%;
	float: right;
	white-space: nowrap;
}

.sse-mainClass .searchInputForm-label-wrap {
	font-weight: bold;
	padding: 1px 5px 1px 1px;
	vertical-align: top;
	width: 30%;
	white-space: nowrap;
}

.sse-mainClass .searchInputForm-value input,.sse-mainClass .searchInputForm-value select
	{
	width: 80%;
}

.sse-mainClass .searchInputForm-value input[type="image"] {
	width: inherit;
}

.sse-mainClass .searchInputForm-value .rich-calendar-input {
	width: 68%;
}

.sse-mainClass .searchInputForm-value .rich-spinner-c {
	width: 100% !important;
}

.sse-mainClass .searchInputForm-value .rich-spinner-input-container {
	width: 88% !important;
	border: none !important;
	background-image: none;
}
/*
.sse-mainClass .searchInputForm-value .rich-combobox input {
	width: auto;
}*/
.sse-mainClass .searchOutputForm-label {
	font-weight: bold;
	padding-right: 8px;
	vertical-align: top;
	white-space: nowrap;
}

.sse-mainClass .searchOutputForm-value {
	text-align: justify;
	/**white-space: nowrap;*/
}

.sse-mainClass .removequeryable-image {
	position: relative;
	top: 4px;
	left: 2px;
}

/********** WIZARD **********/
.sse-mainClass .rich-fileupload-table-td {
	height: 30px;
}

.sse-mainClass .regwiz-interfacetable {
	width: 100%;
}

.sse-mainClass .regwiz-interfacetable td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.sse-mainClass .regwiz-interfacename {
	font-weight: bold;
	font-size: 110%;
}

.sse-mainClass .regwiz-interfacedescription {
	padding-left: 40px;
}

.sse-mainClass .regwiz-interfaceoperations {
	padding-left: 24px;
}

.sse-mainClass .regwiz-textinput {
	width: 100%;
}

.sse-mainClass .regwiz-textarea {
	width: 100%;
}

.sse-mainClass .regwiz-select {
	width: 100%;
}

.sse-mainClass .regwiz-label {
	font-weight: bold;
	padding-right: 15px;
	vertical-align: top;
	white-space: nowrap;
}

.sse-mainClass .regwiz-value {
	width: 100%;
}

.sse-mainClass .regwiz-row {
	padding-bottom: 15px;
	padding-right: 15px;
}

.sse-mainClass .regwiz-row2 {
	padding-top: 7px;
	padding-bottom: 7px;
}

.sse-mainClass .regwiz-checkbox {
	margin-right: 8px;
	margin-left: 8px;
}

.sse-mainClass .regwiz-radiobutton td {
	padding-right: 15px;
}

.sse-mainClass .regwiz .srdeletecol {
	position: relative;
	top: 2px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.sse-mainClass .regwiz .srcol td {
	vertical-align: top;
	padding: 0px 1px 0px 1px;
}

.sse-mainClass .regwiz .elems {
	width: 100px;
	border: 1px solid lightGray;
	padding: 2px;
	margin-bottom: 1px;
	cursor: move;
}

.sse-mainClass .rich-fileupload-toolbar-decor,.sse-mainClass .rich-fileupload-list-decor
	{
	border: none;
}

.sse-mainClass .regwiz-envelop {
	border-width: 1px;
	border-color: LightGrey;
	border-style: solid;
	display: block;
	padding: 5px;
	margin: 5px;
}

.sse-mainClass .rich-spinner-input {
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	background: none;
	width: 103px;
}

.sse-mainClass .input.dr-spnr-i {
	background: none;
}

.sse-mainClass .rich-spinner-input-container {
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
}

.sse-mainClass .parameter-table {
	border-width: 1px;
	border-color: LightGrey;
	border-style: solid;
	border-collapse: collapse;
}

.sse-mainClass .parameter-table-firstrow {
	border-width: 1px;
	border-color: LightGrey;
	border-style: solid;
}

.sse-mainClass .parameter-table-firstcol {
	border-width: 1px;
	border-color: LightGrey;
	border-style: solid;
}

.sse-mainClass .parameter-table td {
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.sse-mainClass .company-logo {
	float: right;
}

.sse-mainClass .company-logo-present {
	position: absolute;
	right: 20px;
	top: 55px;
}

.sse-mainClass .results-present-button {
	position: absolute;
	bottom: 20px;
}

/********** ORDER RESULT **********/
.sse-mainClass .orderResult-label {
	font-weight: bold;
	padding-right: 15px;
}

.sse-mainClass .orderresult-orderinputpanel {
	margin-top: 8px;
}

.sse-mainClass .orderresult-orderinputpanel td {
	padding-top: 5px;
	padding-bottom: 8px;
}

.sse-mainClass .orderresult-orderinputpanel .cellsx {
	font-weight: bold;
}

/********** PRESENT **********/
.sse-mainClass .present-output .present-label {
	font-weight: bold;
	font-size: 10px;
	padding-right: 15px;
}

.sse-mainClass .present-output .present-value {
	font-weight: normal;
}

.sse-mainClass .present-output td {
	vertical-align: top;
}

.sse-mainClass .present-output .toggle-panel {
	margin: 3px;
}

.rich-mpnl-content {
	overflow: auto;
}

.sse-mainClass .last-metadata {
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	background-color: #F1EEE9;
	border: 1px solid gray;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	background-color: #F1EEE9;
}

/********** ADMIN **********/
.sse-mainClass .admin-label {
	font-weight: bold;
	padding-right: 15px;
	vertical-align: top;
	white-space: nowrap;
}

.sse-mainClass .admin-value,.sse-mainClass .admin-value input,.sse-mainClass .admin-value textarea
	{
	width: 100%;
}

/*********** MISC ***************/
.spb-togglePanel-header {
	cursor: pointer;
}

/************CONFIG MODE***************/
.config-label {
	padding-right: 15px;
	font-weight: bold;
	white-space: nowrap;
}

.config-value {
	width: 100%;
}

/************ OPTIONS ***********************/
.sse-mainClass .options-label {
	font-weight: bold;
	padding-right: 15px;
	vertical-align: top;
	padding-bottom: 5px;
	white-space: nowrap;
}

.sse-mainClass .options-value {
	padding-bottom: 5px;
	width: 100%;
	white-space: nowrap;
}

.sse-mainClass .options-value>* {
	width: 99%;
}

.present-modal-panel {
	z-index: 9999999999 !important;
}

.dropdownmenuLink {
	z-index: 9999999999;
}

.dropdownmenuLink a {
	text-decoration: none;
}

.sse-mainClass .rich-ddmenu-label-select {
	border: none;
}

.sse-mainClass .ordering-resulttable {
	width: 100%;
}

.sse-mainClass .ordering-resulttable td {
	padding-bottom: 4px;
	text-align: center;
}

/* Richfaces overwrite */
.rich-panel-header,.rich-mpnl-header,.rich-table-header {
	background-color: #F1EEE9;
	background-image: none;
}

.sse-mainClass .wordwrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

.sse-mainClass .log-detail {
	word-wrap: break-word;
	width: 600px;
}

.companies-logo-homepage {
	width: 100%;
}

.companies-logo-homepage td {
	border: none;
	text-align: center;
}

.sse-mainClass .col-pick-watermark {
	width: 150px;
	margin-left: 5px;
}