/* IMPORTANT:  The SCW calendar script requires all       
                           the classes defined here.                  
            */
table.scw {
	padding: 1px;
	vertical-align: middle;
	border: ridge 2px;
	font-size: 10pt;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

td.scwDrag,td.scwHead {
	padding: 0px 0px;
	text-align: center;
}

td.scwDrag {
	font-size: 8pt;
}

select.scwHead {
	margin: 3px 1px;
}

input.scwHead {
	height: 22px;
	width: 22px;
	vertical-align: middle;
	text-align: center;
	margin: 2px 1px;
	font-weight: bold;
	font-size: 10pt;
	font-family: fixedSys;
}

td.scwWeekNumberHead,td.scwWeek {
	padding: 0px;
	text-align: center;
	font-weight: bold;
}

td.scwFoot,td.scwFootHover,td.scwFoot:hover,td.scwFootDisabled {
	padding: 0px;
	text-align: center;
	font-weight: normal;
}

table.scwCells {
	text-align: right;
	font-size: 8pt;
	width: 96%;
}

td.scwCells,td.scwCellsHover,td.scwCells:hover,td.scwCellsDisabled,td.scwCellsExMonth,td.scwCellsExMonthHover,td.scwCellsExMonth:hover,td.scwCellsExMonthDisabled,td.scwCellsWeekend,td.scwCellsWeekendHover,td.scwCellsWeekend:hover,td.scwCellsWeekendDisabled,td.scwInputDate,td.scwInputDateHover,td.scwInputDate:hover,td.scwInputDateDisabled,td.scwWeekNo,td.scwWeeks
	{
	padding: 3px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	vertical-align: middle;
}

/* Blend the colours into your page here...    */
	/* Calendar background */
table.scw {
	background-color: #71A0D0;
}

/* Drag Handle */
td.scwDrag {
	background-color: #9999CC;
	color: #CCCCFF;
}

/* Week number heading */
td.scwWeekNumberHead {
	color: #71A0D0;
}

/* Week day headings */
td.scwWeek {
	color: #E7EDF5;
}

/* Week numbers */
td.scwWeekNo {
	background-color: #776677;
	color: #E7EDF5;
}

/* Enabled Days */ /* Week Day */
td.scwCells {
	background-color: #E7EDF5;
	color: #000000;
}

/* Day matching the input date */
td.scwInputDate {
	background-color: #CC9999;
	color: #FF0000;
}

/* Weekend Day */
td.scwCellsWeekend {
	background-color: #E7EDF5;
	color: #CC6666;
}

/* Day outside the current month */
td.scwCellsExMonth {
	background-color: #E7EDF5;
	color: #666666;
}

/* Today selector */
td.scwFoot {
	background-color: #71A0D0;
	color: #FFFFFF;
}

/* MouseOver/Hover formatting                             
                   If you want to "turn off" any of the formatting    
                   then just set to the same as the standard format   
                   above.                                             
                                                                      
                   Note: The reason that the following are            
                   implemented using both a class and a :hover        
                   pseudoclass is because Opera handles the rendering 
                   involved in the class swap very poorly and IE6     
                   (and below) only implements pseudoclasses on the   
                   anchor tag.                                        
            */ /* Active cells */
td.scwCells:hover,td.scwCellsHover {
	background-color: #FFFF00;
	cursor: pointer;
	cursor: hand;
	color: #000000;
}

/* Day matching the input date */
td.scwInputDate:hover,td.scwInputDateHover {
	background-color: #FFFF00;
	cursor: pointer;
	cursor: hand;
	color: #000000;
}

/* Weekend cells */
td.scwCellsWeekend:hover,td.scwCellsWeekendHover {
	background-color: #FFFF00;
	cursor: pointer;
	cursor: hand;
	color: #000000;
}

/* Day outside the current month */
td.scwCellsExMonth:hover,td.scwCellsExMonthHover {
	background-color: #FFFF00;
	cursor: pointer;
	cursor: hand;
	color: #000000;
}

/* Today selector */
td.scwFoot:hover,td.scwFootHover {
	color: #FFFF00;
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
}

/* Disabled cells */ /* Week Day */ /* Day matching the input date */
td.scwInputDateDisabled {
	background-color: #CFCFCF;
	color: #000000;
}

td.scwCellsDisabled {
	background-color: #CFCFCF;
	color: #000000;
}

/* Weekend Day */
td.scwCellsWeekendDisabled {
	background-color: #CFCFCF;
	color: #CC6666;
}

/* Day outside the current month */
td.scwCellsExMonthDisabled {
	background-color: #CFCFCF;
	color: #666666;
}

td.scwFootDisabled {
	background-color: #71A0D0;
	color: #FFFFFF;
}